# Vite.js Configuration
NODE_ENV=development
VITE_PUBLIC_PORT=5050
VITE_PUBLIC_SERVER_URL=http://localhost:5050
VITE_PUBLIC_CLIENT_URL=http://localhost:3030
VITE_PUBLIC_MOBILE_URL=
VITE_PUBLIC_AUTH_URL=http://localhost:3000
VITE_PUBLIC_SSO_CLIENT_URL=http://localhost:3000
VITE_PUBLIC_SSO_SERVER_URL=http://localhost:8080
VITE_PUBLIC_SSO_OAUTH_CLIENT_ID=
VITE_AUTH_SECRET=
VITE_SESSION_SECRET=

GORTH_ACCESS_TOKEN=gorth.access_token
GORTH_REFRESH_TOKEN=gorth.refresh_token

DATABASE_URL=
PG_POOL_MAX=5

# Ably Realtime
ABLY_API_KEY=

CSRF_ENABLED=true
CSRF_SECRET=
RATE_LIMIT_ENABLED=true
